.ImageCard {
    width: 250px;
    height: fit-content;
    padding: 15px;
    margin: 15px;
    margin-right: 0;
    background-color: #fefcaf;
    box-shadow: 3px 3px 12px 1px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.Img {
    width: 250px;
    height: auto;
    margin-bottom: 10px;
}

.Source {
    margin-bottom: 15px;
}

.SourceLink {
    text-decoration: none;
    color: #000000;
    word-wrap:break-word;
    transition: 0.2s;
}

.Btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.Unliked {
    margin-right: 5px;
    background-color: #fff;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    font-size: 20px;
    line-height: 20px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: 0.2s;
}
.Unliked::before {
    content: '\2661';
}

.Liked {
    margin-right: 5px;
    background-color: #fff;
    color: #ff0000;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    font-size: 20px;
    line-height: 20px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: 0.2s;
}
.Liked::before {
    content: '\2665';
}

.Delete {
    background-color: #fff;
    border: none;
    padding: 5px 10px;
    width: fit-content;
    height: 30px;
    border-radius: 50px;
    font-size: 15px;
    line-height: 15px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: 0.2s;
}
.Delete::before {
    content: '\00D7';
}

@media screen and (min-device-width: 1200px) {
    .Unliked:hover {
        background-color: #dadada;
    }
    .SourceLink:hover {
        color: #ff6969;
    }
    .Liked:hover {
        background-color: #ff6969;
    }
    .Delete:hover {
        background-color: #ff6969;
    }
}